.app {
  text-align: center;
}

.app-header {
  background-color: #9baac8;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}


header nav {
  background-color: brown;
  padding: 10px;
}

header nav a{ 
  color: white;
  margin: 10px;
  text-decoration: none;
}

header nav a:hover{
  text-decoration: overline;
}
